table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #02205b59;
}

thead {
    background-color: #02205b;
    color: white;
}